<header id="header" class="header">

    <div class="nav-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="index-2.html"><img src="assets/images/logo-white.png" alt=""></a>
                    </div>
                    <!-- Phone Menu button -->
                    <button id="menu" class="menu hidden-md-up"></button>
                </div>
                <div class="col-md-9 nav-bg d-flex align-items-center">
                    <nav class="navigation">
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>

                            <li>
                                <a href="javascript:avoid(0);">About us</a><i class="ion-ios-plus-empty hidden-md-up"></i>
                                <ul class="sub-nav">

                                    <li>
                                        <a href="about.html">About Company</a>
                                    </li>
                                    <li>
                                        <a href="history.html">History</a>
                                    </li>
                                    <li>
                                        <a href="career.html">Career</a>
                                    </li>
                                    <li>
                                        <a href="partnerships.html">Partnerships</a>
                                    </li>
                                    <li>
                                        <a href="leadership.html">Leadership</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/services">services</a>
                            </li>
                            <li>
                                <a href="/projects">Projects</a>
                            </li>
                            <li>
                                <a href="/blog">Blog</a>
                            </li>
                            <li>
                                <a href="javascript:avoid(0);">pages</a><i class="ion-ios-plus-empty hidden-md-up"></i>
                                <ul class="sub-nav">
                                    <li>
                                        <a href="faq.html">Faq</a>
                                    </li>
                                    <li>
                                        <a href="register.html">Register</a>
                                    </li>
                                    <li>
                                        <a href="login.html">login</a>
                                    </li>
                                    <li>
                                        <a href="testimonial.html">Testimonials</a>
                                    </li>
                                    <li>
                                        <a href="404.html">404 Error</a>
                                    </li>
                                    <li>
                                        <a href="blank.html">Blank</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/contact-us">Contact Us</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<router-outlet></router-outlet>