<!--footer-sec start-->
<footer class="footer-sec"> 
    <!--container start-->
    <div class="container"> 
      <!--row start-->
      <div class="row"> 
        <!--col start-->
        <div class="col-md-4 col-sm-12">
          <div class="footer-info">
            <div class="footer-logo"> <a href="/"><img class="footer-logo-default" src="../../../../assets/images/logo.png" alt=""> </a> </div>
            <p>We take pride in the construction, operations, and maintenance of highways and building infrastructure that shapes the future while prioritizing environmental responsibility and client satisfaction.</p>
            <div class="icons-hover-black">
                <a href="javascript:avoid(0);"> <i class="fa fa-facebook"></i> </a><a href="javascript:avoid(0);"> <i class="fa fa-twitter"></i> </a><a href="javascript:avoid(0);"> <i class="fa fa-youtube"></i> </a><a href="javascript:avoid(0);"> <i class="fa fa-dribbble"></i> </a><a href="javascript:avoid(0);"> <i class="fa fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
        <!--col end--> 
        <!--col start-->
        <div class="col-md-8"> 
          <!--row start-->
          <div class="row"> 
            <!--col start-->
            <div class="col-md-3 col-sm-6">
              <div class="footer-info">
                <h3 class="footer-title">Useful Links</h3>
                <ul class="service-link">
                  <li><a href="/">Home</a></li>
                  <li><a href="/">About us</a></li>
                  <li><a href="/">Services</a></li>
                  <li><a href="/">Projects</a></li>
                  <li><a href="/">Blog</a></li>
                  <li><a href="/">FAQ</a></li>
                  <li><a href="/">Contact Us</a></li>
                </ul>
              </div>
            </div>
            <!--col end--> 
            <!--col start-->
            <div class="col-md-4 col-sm-6">
              <div class="footer-info">
                <h3 class="footer-title">Our Services</h3>
                <ul class="service-link">
                  <li> <a href="/">Highway Construction</a></li>
                  <li> <a href="/">Highway Maintenance</a></li>
                  <li> <a href="/">Building Construction</a></li>
                  <li> <a href="/">Maintenance & Refurbishment</a></li>
                  <li> <a href="/">Architectural plan</a></li>
                  <li> <a href="/">Building Uplift</a></li>
                  <li> <a href="/">Safety & Training</a></li>
                </ul>
              </div>
            </div>
            <!--col end--> 
            <!--col start-->
            <div class="col-md-5 col-sm-6">
              <div class="footer-info">
                <h3 class="footer-title">Contact Us</h3>
                <ul class="footer-adress">
                  <li><i class="fa fa-map-marker"></i><span>588, Awas Vikas Colony, Gonda (UP) - 271002</span></li>
                  <li><i class="fa fa-phone"></i><span>Call Us : <a href="tel:9984396000" style="color: #fff;">9984396000</a>, <a href="tel:8377952956" style="color: #fff;">8377952956</a></span></li>
                  <li><i class="fa fa-envelope-o"></i><span>Email : <a href="mailto:gaharwarbuildcon@gmail.com" style="color: #fff;">gaharwarbuildcon&#64;gmail.com</a></span></li>
                </ul>
              </div>
            </div>
            <!--col end--> 
          </div>
          <!--row end--> 
          
        </div>
        <!--col end--> 
        
      </div>
      <!--row end-->
      <div class="copyright-content"> 
        <!--row start-->
        <div class="row"> 
          <!--col start-->
          <div class="col-md-6 col-sm-6">
            <p>Copyright &#169; <a href="#">Gaharwar Buildcon Pvt Ltd</a></p>
          </div>
          <div class="col-md-6 col-sm-6">
            <ul class="footer-bottom-menu">
              <li> <a href="#">Sitemap</a> </li>
              <li> <a href="#">Terms of Service </a> </li>
              <li> <a href="#">Privacy Policy</a> </li>
            </ul>
          </div>
          <!--col end--> 
        </div>
        <!--row end--> 
      </div>
    </div>
    <!--container end--> 
  </footer>
  <!--footer-secn end-->