<app-banner></app-banner>
<!--About-->
<section id="about_us" class="padding ptb-xs-40 gray-bg">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-12 col-lg-7 about-left">
                <div class="sec_hedding">
                    <h2><span>About </span>Company</h2>
                    <span class="b-line l-left"></span>
                </div>
                <p>
                    Welcome to <span style="color: #f68712;">Gaharwar Buildcon Private Limited</span>, where expertise meets
                    excellence in the construction, operations, and maintenance of
                    highways and buildings. With a commitment to innovation and
                    sustainability, we specialize in waste management solutions and provide
                    top-notch horticulture services. Our dedicated team ensures the
                    seamless flow of operations, emphasizing incident management on
                    highways to guarantee safety and efficiency. At Gaharwar Buildcon , we
                    take pride in building and maintaining the infrastructure that shapes
                    the future while prioritizing environmental responsibility and client
                    satisfaction.
                </p>
                <div class="row mt-30">
                    <div class="col-lg-4 col-md-4 process mb-40">
                        <div class="icon-lf float-left">
                            <i class="ion-ios-paperplane-outline"></i>
                        </div>
                        <div class="right-txt float-right">
                            <h3>Quick Help</h3>
                            <p>
                                <a href="tel:9984396000">(+91)9984396000</a>
                                <!-- <a href="tel:8377952956">8377952956</a> -->
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 process mb-40">
                        <div class="icon-lf float-left">
                            <i class="ion-ios-bolt-outline"></i>
                        </div>
                        <div class="right-txt float-right">
                            <h3>Address</h3>
                            <p>
                                588, Awas Vikas Colony, Gonda
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 process mb-40">
                        <div class="icon-lf float-left">
                            <i class="ion-ios-gear-outline"></i>
                        </div>
                        <div class="right-txt float-right">
                            <h3>OPENING TIMES</h3>
                            <p>
                                24*7 Support
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-5">
                <img src="assets/images/about_us.png" class="repo-full" alt="" />
            </div>
        </div>
    </div>
</section>
<!--About Us-->

<!-- Service Section -->
<section class="service-section bg-grey padding">
    <div class="dark-bg"></div>
    <div class="section-heading dark-background text-center mb-40">
        <span>Services</span>
        <h2>Take the world’s best <br> services for you</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div id="service-carousel" class="service-carousel box-shadow owl-carousel">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-3d-printer"></i>
                        </div>
                        <h3>Highway Construction</h3>
                        <p>We are committed a sustainable future fostering a collaborative spirit.</p>
                        <a href="#" class="read-more">Read More</a>
                        <div class="overlay-icon">
                            <i class="flaticon-3d-printer"></i>
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-industrial-robot"></i>
                        </div>
                        <h3>Building Construction</h3>
                        <p>We are committed a sustainable future fostering a collaborative spirit.</p>
                        <a href="#" class="read-more">Read More</a>
                        <div class="overlay-icon">
                            <i class="flaticon-industrial-robot"></i>
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-assembly-line"></i>
                        </div>
                        <h3>Refurbishments</h3>
                        <p>We are committed a sustainable future fostering a collaborative spirit.</p>
                        <a href="#" class="read-more">Read More</a>
                        <div class="overlay-icon">
                            <i class="flaticon-assembly-line"></i>
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-conveyor"></i>
                        </div>
                        <h3>Building Renovation</h3>
                        <p>We are committed a sustainable future fostering a collaborative spirit.</p>
                        <a href="#" class="read-more">Read More</a>
                        <div class="overlay-icon">
                            <i class="flaticon-conveyor"></i>
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-control-system"></i>
                        </div>
                        <h3>Architectural Plans</h3>
                        <p>We are committed a sustainable future fostering a collaborative spirit.</p>
                        <a href="#" class="read-more">Read More</a>
                        <div class="overlay-icon">
                            <i class="flaticon-control-system"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Section End -->

<!-- Counter Section -->
<div class="fact-counter-wrapper padding ptb-xs-40">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-sm-30 mb-xs-30">
                <div class="single-fact">
                    <div class="icon-boxed">
                        <i class="ion-ios-list"></i>
                    </div>
                    <span class="counter" data-count="3562">0</span>
                    <p>
                        Total Projects
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-sm-30 mb-xs-30">
                <div class="single-fact">
                    <div class="icon-boxed">
                        <i class="ion-happy"></i>
                    </div>
                    <span class="counter" data-count="1054">0</span>
                    <p>
                        Happy Clients
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-xs-30">
                <div class="single-fact">
                    <div class="icon-boxed">
                        <i class="ion-person-stalker"></i>
                    </div>
                    <span class="counter" data-count="400">0</span>
                    <p>
                        Active Member
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-fact">
                    <div class="icon-boxed">
                        <i class="ion-trophy"></i>
                    </div>
                    <span class="counter" data-count="67">0</span>
                    <p>
                        Won Award
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counter Section End -->

<section class="whychoose-wrap"> 
    <!--container start-->
    <div class="container"> 
      <!--row start-->
      <div class="row"> 
        <!--col start-->
        <div class="col-md-6">
            <div class="block-title v-line">
                <h2><span>Why</span> choose us</h2>
                <p class="italic">
                    Our wide range of services are executed with accuracy
                </p>
            </div>
            <div class="text-content">
                <p>
                    Our goal at Gaharwar Buildcon Private Limited is to lead
                    the way in the development, management, and upkeep of
                    buildings and highways. Driven by a dedication to
                    ecological responsibility, our goal is to set the standard for
                    waste management and provide unmatched horticultural
                    services.
                </p>
            </div>
            <div class="whychoose-description">
                <ul class="row">
                  <li class="col-md-6">Expert &amp; Professional </li>
                  <li class="col-md-6">Safety and Efficiency</li>
                  <li class="col-md-6">Environmental Responsibility</li>
                  <li class="col-md-6">Satisfaction Guarantee</li>
                  <li class="col-md-6">Infrastructure Development</li>
                  <li class="col-md-6">Ecological Responsibility</li>
                </ul>
            </div>
        </div>
        <!--col end--> 
        <!--col start-->
        <div class="col-md-6">
            <div class="about-video-item">
                <div class="about-video-img"> 
                    <img src="assets/images/welcome-1.jpg" alt=""> 
                    <a href="https://www.youtube.com/watch?v=Vn_FGpZJqUs" class="video-play mfp-iframe xs-video" target="_blank">
                        <i class="fa fa-play"></i>
                    </a>
                </div>
            </div>
        </div>
        <!--col end--> 
      </div>
      <!--row end--> 
    </div>
    <!--container end--> 
</section>

<!-- Team Section -->
<section id="team" class="padding ptb-xs-40 text-center gray-bg">
    <div class="container">
        <div class="row text-center mb-30">
            <div class="col-sm-12">
                <div class="sec_hedding">
                    <h2><span>Our</span> Team</h2>
                    <span class="b-line"></span>
                </div>
            </div>
        </div>

        <!--Team Carousel -->
        <div class="row mt-10">
            <div class="col-md-12">
                <div id="team-carousel" class="owl-carousel team-carousel nf-carousel-theme">
                    <div class="team_head">
                        <div class="team_view">
                            <figure>
                                <img src="assets/images/team/01.jpg" alt="">
                            </figure>
                            <div class="team_hover text-center">
                                <div>
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank" class="text-white"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="text-white"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="text-white"><i class="fa fa-google-plus"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="text-white"><i class="fa fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                    <p class="text-white">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="team_discoption text-center mt-15">
                            <span class="team_name">Gyan Singh Gaharwar</span>
                            <span class="postion">CEO & MD</span>
                        </div>
                    </div>
                    <div class="team_head">
                        <div class="team_view">
                            <figure>
                                <img src="assets/images/team/02.jpg" alt="">
                            </figure>
                            <div class="team_hover text-center">
                                <div>
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank" class="text-white"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="text-white"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="text-white"><i class="fa fa-google-plus"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="text-white"><i class="fa fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                    <p class="text-white">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="team_discoption text-center mt-15">
                            <span class="team_name">Suraj Singh</span>
                            <span class="postion">Safety Director</span>
                        </div>
                    </div>
                    <div class="team_head">
                        <div class="team_view">
                            <figure>
                                <img src="assets/images/team/03.jpg" alt="">
                            </figure>
                            <div class="team_hover text-center">
                                <div>
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank" class="text-white"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="text-white"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="text-white"><i class="fa fa-google-plus"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="text-white"><i class="fa fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                    <p class="text-white">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="team_discoption text-center mt-15">
                            <span class="team_name">Ashish Singh</span>
                            <span class="postion">President</span>
                        </div>
                    </div>
                    <div class="team_head">
                        <div class="team_view">
                            <figure>
                                <img src="assets/images/team/04.jpg" alt="">
                            </figure>
                            <div class="team_hover text-center">
                                <div>
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank" class="text-white"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="text-white"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="text-white"><i class="fa fa-google-plus"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="text-white"><i class="fa fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                    <p class="text-white">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="team_discoption text-center mt-15">
                            <span class="team_name">Vikash Singh</span>
                            <span class="postion">Project Manager</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Team Carousel -->
    </div>
</section>
<!-- End Team Section -->

<!-- Testimonial Section -->
<section class="testimonial-section bg-grey padding">
    <div class="dots"></div>
    <div class="container">
        <div class="section-heading text-center mb-40">
            <span>Testimonial</span>
            <h2>What people says</h2>
        </div>
        <div id="testimonial-carousel" class="testimonial-carousel box-shadow owl-carousel">
            <div class="testi-item d-flex align-items-center">
                <img src="assets/images/testimonial/1.jpg" alt="">
                <div class="testi-content">
                    <p>"Thank you for guiding us through the construction process, understanding, and always ready to accommodate our needs. We love our new space and know that it was built by the very best!"</p>
                    <h3>Kyle Frederick</h3>
                    <ul class="rattings">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span>Director</span>
                </div>
                <i class="fa fa-quote-right"></i>
            </div>
            <div class="testi-item d-flex align-items-center">
                <img src="assets/images/testimonial/2.jpg" alt="">
                <div class="testi-content">
                    <p>"Thank you for guiding us through the construction process, understanding, and always ready to accommodate our needs. We love our new space and know that it was built by the very best!"</p>
                    <h3>Valentin Lacoste</h3>
                    <ul class="rattings">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span>Director</span>
                </div>
                <i class="fa fa-quote-right"></i>
            </div>
            <div class="testi-item d-flex align-items-center">
                <img src="assets/images/testimonial/3.jpg" alt="">
                <div class="testi-content">
                    <p>"Thank you for guiding us through the construction process, understanding, and always ready to accommodate our needs. We love our new space and know that it was built by the very best!"</p>
                    <h3>José Carpio</h3>
                    <ul class="rattings">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span>Director</span>
                </div>
                <i class="fa fa-quote-right"></i>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End -->